<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Doctor Timing</h1>

<div class="card" ng-init="viewtiming()">
    <div class="card-body">
        <div class="row">
            <div class="col-md-9">
                <!-- <p>Add Staff Member using their mobile number to your clinic. A staff member account cannot access business and patient details.</p> -->
            </div>
            <div class="col-md-3 text-right align-self-center">
                <button class="btn btn-primary text-capitalize" data-toggle="modal" data-target="#addStaff"><i class="fas fa-plus"></i> Add Timing</button>
            </div>
        </div>
        <table class="table table-bordered dataTable table-hover my-4">
            <thead>
                <tr>
                    <th width="30%">Days</th>
                    <th width="30%">Morning Slot</th>
                    <th width="30%">Evening Slot</th>
                    <th width="10%">Action</th>
                </tr>
            </thead>
            <tbody id="renderStaff">
                <tr ng-repeat="x in timingview">
                    <td>{{x.days}}</td>
                    <td>{{x.mor_from |date:'h:mm a'}} to {{x.mor_to |date:'h:mm:ss a'}}</td>
                    <td>{{x.even_from |date:'h:mm a'}} to {{x.even_to |date:'h:mm a'}}</td>
                    <td>
                        <button class="btn btn-info btn-circle btn-sm" data-toggle="tooltip" data-placement="top" title="Edit">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-warning btn-circle btn-sm" data-toggle="tooltip" data-placement="top" title="Delete">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Model Section  -->
<div class="modal" tabindex="-1" id="addStaff" aria-labelledby="addStaff" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-bottom">
                <h5 class="modal-title">Add a Timing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body my-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="staffName" class="text-black-secondary"><span class="text-danger">*</span> Days</label>
                            <input type="text" class="form-control" ng-model="days">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="staffName" class="text-black-secondary"><span class="text-danger">*</span> Morning Sloat Starting</label>
                            <input type="time" class="form-control" ng-model="mor_from" ng-model-options="{timezone: 'utc'}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="staffName" class="text-black-secondary"><span class="text-danger">*</span> Morning Slot Ending</label>
                            <input type="time" class="form-control" ng-model="mor_to" ng-model-options="{timezone: 'utc'}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="staffName" class="text-black-secondary"><span class="text-danger">*</span> Evening Slot Starting</label>
                            <input type="time" class="form-control" ng-model="even_from" ng-model-options="{timezone: 'utc'}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="staffName" class="text-black-secondary"><span class="text-danger">*</span> Evening Slot Ending</label>
                            <input type="time" class="form-control" ng-model="even_to" ng-model-options="{timezone: 'utc'}">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" >Close</button> -->
                <button type="button" class="btn btn-primary" id="saveStaff" data-dismiss="modal" ng-click="ctimingsave()">
                    <i class="fas fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>